{% extends 'base.htm' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/project.css'%}" type="text/css" />
{% endblock %} {% block main %}
<div class="notes">
  <div class="box">
    <h4>Forgotton Password</h4>
    <p>Add your email address here to create a new password</p>
    <form action="#">
      <div class="input-box2">
        <span class="icons"><ion-icon name="mail-outline"></ion-icon></span>
        <input class="email" required placeholder="Email Address" />
      </div>
      <div class="number">
        <p1
          >Can't enter your email??<a class="phone" href="{% url 'recover2' %}"
            >Access your account via phone</a
          ></p1
        >
      </div>
      <button type="Next" class="btns">
        <a href="{% url 'recover3' %}">Next</a>
      </button>
      <div class="details">
        <p1
          >Remember your password??<a class="back" href="{% url 'login' %}"
            >Click here to login</a
          ></p1
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
