{% extends 'base3.htm' %}
{% load static %}

{% block main %}
<div class="notesh">
    <div class="box">
       <h4>Forgotton Password</h3>
       <form action="#">
        <div class="input-box2">
            <span class="icons"><ion-icon name="lock-closed-outline"></ion-icon></span>
            <input class="new_password" required placeholder="Type In a New Password">
        </div>
        <div class="input-box2">
            <span class="icons"><ion-icon name="lock-closed-outline"></ion-icon></span>
            <input class="retype-password" required placeholder="Retype Password">
        </div>
        <button type="Update Password" class="btns"><a href="{% url 'login' %}">Update Password</a></button>
       </form>
    </div>
</div>
{% endblock %}