{% extends 'base3.htm' %}
{% load static %}

{% block main %}
<div class="notez">
    <div class="box">
       <h4>Forgotton Password</h3>
        <p>Add your phone number here to create a new password</p>
       <form action="#">
        <div class="input-box2">
            <span class="icons"><ion-icon name="call-outline"></ion-icon></span>
            <input class="phone" required placeholder="Phone number">
        </div>
        <button type="Next" class="btns"><a href="{% url 'recover3' %}">Next</a></button>
        <div class="details">
            <p1>Remember your email??<a class="back" href="{% url 'recover' %}">Create a new password via email</a></p1>
        </div>
       </form>
    </div>
</div>
{% endblock %}