{% extends 'base2.htm' %}
{% load static %}

{% block main %}
<div class="home">
<h5>Welcome To Neterix</h5>
<p>Here on Neterix, you can choose to scan your IP addresses, report any of your previous scans, <br> or contact us about any concerns or queries you may have.</p>
<div class="main">
  <ul>
    <li><button class="btn" href="">IP scan</button></li>
    <li><button class="btn">Report</button></li>
    <li><button class="btn">Contact</button></li>
  </ul>
</div>
<div class="description">
  <ul class="info">
    <li><p1>The IP Scan gives you the option to scan IP addresses through different scan methods such as TCP scan etc. <br>Click on the button above if you want to scan an IP address into Neterix.</p1></li>
    <li><p1>Click here if you want to scan an IP address into Neterix</p1></li>
    <li><p3>Contacting us will allow you to express any potential queries or concerns that you may have about us or about Neterix. <br> Click on the button above if you wish to do so.</p3></li>
  </ul>
</div>
</div>
{% endblock %}