{% extends 'base.htm' %}

{% block main %}

<div class="container text-white mt-5">
    <h1 class="display-1">Schedules for {{schedule.ip.ip_address}}</h1>
    <div class="container">
        <div class="row">
            {% if schedules %}
            {% for schedule in schedules%}
            <div class="col-md-4 col-lg-3">
                <div class="card bg-dark text-light mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ schedule.ip }}</h5>
                        <p class="card-description">
                        <ul>
                            <li>{{ schedule.cron_time }}</li>
                            <li>{{ schedule.scan_type }}</li>
                        </ul>
                        </p>
                        <!-- Check if complete show view if complete only -->
                        <a href="{% url 'delete_schedule' schedule_id=schedule.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No Schedules found for this ip</p>
            <a class="btn btn-success" href="{% url 'scan'%}">Create schedule or scan now</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}