{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" />
  <script src="https://kit.fontawesome.com/12c843ceec.js" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  {% block css %} {% endblock %}
  <title>Neterix | {{title}}</title>
</head>

<body>
  <header>
    {% block header %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" style="background-color: white">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/logo.png' %}" alt="" width="128" height="32" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-info" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-info" href="{% url 'scan' %}">IP Scan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-info" href="{% url 'reports' %}">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-info" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link text-info" href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a class="nav-link text-info" href="{% url 'login' %}">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
  </header>
  <main>
    {% block main %} {% endblock %}
    {% bootstrap_messages %}
  </main>
  <footer>{% block footer %} {% endblock %}</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% bootstrap_javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  {% block javascript %} {% endblock %}
</body>

</html>
